@import "@/lib/typography/typography.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 95%;
    --foreground: 264 7% 13%;
    --foreground-subtle: 257 3% 46%;
    --primary: 284 47% 42%;
    --primary-foreground: 280 10% 94%;
    --secondary: 281 32% 90%;
    --secondary-foreground: 284 52% 24%;
    --muted: 270 3% 89%;
    --muted-foreground: 264 7% 13%;
    --accent: 281 32% 90%;
    --accent-foreground: 284 52% 24%;
    --destructive: 10 57% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 260 5% 75%;
    --input: 260 5% 75%;
    --ring: 284 47% 42%;
    --analogous: 284 47% 42%;
    --analogous-foreground: 280 10% 94%;
    --complementary: 74 44% 42%;
    --complementary-foreground: 264 7% 13%;
    --triadic: 134 49% 42%;
    --triadic-foreground: 264 7% 13%;

    /* Accent Scale - Light */
    --accent-1: 280 10% 94%;
    --accent-2: 280 17% 93%;
    --accent-3: 281 32% 90%;
    --accent-4: 282 39% 87%;
    --accent-5: 281 41% 83%;
    --accent-6: 282 41% 79%;
    --accent-7: 282 40% 73%;
    --accent-8: 283 40% 65%;
    --accent-9: 284 47% 42%;
    --accent-10: 285 56% 35%;
    --accent-11: 284 51% 39%;
    --accent-12: 284 52% 24%;

    /* Gray Scale - Light */
    --gray-1: 240 3% 94%;
    --gray-2: 270 5% 93%;
    --gray-3: 270 3% 89%;
    --gray-4: 260 4% 85%;
    --gray-5: 255 4% 82%;
    --gray-6: 264 5% 79%;
    --gray-7: 260 5% 75%;
    --gray-8: 262 5% 67%;
    --gray-9: 257 3% 50%;
    --gray-10: 257 3% 46%;
    --gray-11: 260 3% 34%;
    --gray-12: 264 7% 13%;

    /* Semantic Colors - Light */
    --success: 145 57% 52%;
    --success-foreground: 143 55% 16%;
    --success-muted: 135 31% 87%;
    --success-muted-foreground: 143 55% 16%;
    --success-border: 140 42% 59%;
    --danger: 10 57% 48%;
    --danger-foreground: 0 0% 100%;
    --danger-muted: 10 32% 89%;
    --danger-muted-foreground: 10 40% 24%;
    --danger-border: 12 47% 70%;
    --warning: 35 57% 50%;
    --warning-foreground: 0 0% 0%;
    --warning-muted: 34 38% 87%;
    --warning-muted-foreground: 33 35% 20%;
    --warning-border: 33 46% 64%;
    --info: 215 57% 51%;
    --info-foreground: 0 0% 0%;
    --info-muted: 214 31% 90%;
    --info-muted-foreground: 216 54% 22%;
    --info-border: 216 48% 72%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 0 0% 7%;
        --foreground: 240 3% 94%;
        --foreground-subtle: 260 2% 49%;
        --primary: 284 47% 42%;
        --primary-foreground: 288 100% 91%;
        --secondary: 284 60% 17%;
        --secondary-foreground: 288 100% 91%;
        --muted: 270 3% 14%;
        --muted-foreground: 240 3% 94%;
        --accent: 284 60% 17%;
        --accent-foreground: 288 100% 91%;
        --destructive: 10 57% 48%;
        --destructive-foreground: 0 0% 100%;
        --border: 255 3% 29%;
        --input: 255 3% 29%;
        --ring: 284 47% 42%;
        --analogous: 284 47% 42%;
        --analogous-foreground: 288 100% 91%;
        --complementary: 74 44% 42%;
        --complementary-foreground: 80 20% 6%;
        --triadic: 134 49% 42%;
        --triadic-foreground: 120 19% 6%;

        /* Accent Scale - Dark */
        --accent-1: 282 33% 8%;
        --accent-2: 284 42% 11%;
        --accent-3: 284 60% 17%;
        --accent-4: 285 75% 20%;
        --accent-5: 285 70% 25%;
        --accent-6: 284 58% 30%;
        --accent-7: 284 52% 38%;
        --accent-8: 284 52% 49%;
        --accent-9: 284 47% 42%;
        --accent-10: 285 56% 35%;
        --accent-11: 288 100% 78%;
        --accent-12: 288 100% 91%;

        /* Gray Scale - Dark */
        --gray-1: 240 3% 7%;
        --gray-2: 240 2% 10%;
        --gray-3: 270 3% 14%;
        --gray-4: 260 4% 17%;
        --gray-5: 260 3% 19%;
        --gray-6: 255 3% 23%;
        --gray-7: 255 3% 29%;
        --gray-8: 260 3% 38%;
        --gray-9: 260 3% 44%;
        --gray-10: 260 2% 49%;
        --gray-11: 255 3% 71%;
        --gray-12: 240 3% 94%;

        /* Semantic Colors - Dark */
        --success: 145 57% 52%;
        --success-foreground: 130 19% 6%;
        --success-muted: 137 31% 13%;
        --success-muted-foreground: 137 68% 83%;
        --success-border: 141 38% 30%;
        --danger: 10 57% 48%;
        --danger-foreground: 0 0% 100%;
        --danger-muted: 10 69% 14%;
        --danger-muted-foreground: 12 100% 89%;
        --danger-border: 10 62% 34%;
        --warning: 35 57% 50%;
        --warning-foreground: 40 19% 6%;
        --warning-muted: 33 31% 13%;
        --warning-muted-foreground: 33 82% 87%;
        --warning-border: 35 46% 27%;
        --info: 215 57% 51%;
        --info-foreground: 0 0% 0%;
        --info-muted: 215 66% 17%;
        --info-muted-foreground: 214 100% 90%;
        --info-border: 215 60% 39%;
    }
}


body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
